div[contenteditable] p {
  margin: 0;
  padding: 0;
}

.insertion-caret {
  pointer-events: none;
}

/* DRAGGABLE BOX */
.draggable-box {
  padding: 2px 6px;
  background-color: #eee;
  border-radius: 4px;
  cursor: grab; /* whole box is grabable */
  user-select: none;
}
.draggable-box:active {
  cursor: grabbing;
}
